.btn {
  border-radius: 11px;
  color: $lightBlack;
  cursor: pointer;  

  &--big {
    min-width: 231px;
    padding: 17px 0px 22px 0px;
    box-shadow: $bigBtnShadow;
    line-height: 27px;
    font: 700 23px $mainFont;

    @include mobile {
      min-width: 313px;
      padding: 12px 0px 16px 0px;
    }
  }

  &--medium {
    min-width: 231px;
    padding: 17px 0px 22px 0px;
    box-shadow: $bigBtnShadow;
    line-height: 27px;
    font: 700 23px $mainFont;

    @include mobile {
      min-width: 140px;
      padding: 7px 0px 13px 0px;
      line-height: 20px;
      font-size: 17px;
    }
  }

  &--small {
    width: 60px;
    box-shadow: $smallBtnShadow;
    line-height: 14px;
    font: 400 12px $smallButton;

    @include mobile {
      min-width: 57px;
    }
  }

  &--small-no-shadow {
    @include mobile {
      min-width: 66px;
      line-height: 15px;
      font: 400 13px $smallButton;
    }  
  }

  &--green {
    background: $lightGreen;
    border: none;
  }

  &--blue {
    background-color: $blue;
    border: none;
  }

  &--yellow {
    background-color: $yellow;
    border: none;
  }
}