html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.background {
  background: $yellowGradient;
  height: 100%;

  @include mobile {
    min-height: 100%;
  }
}

.home {
  min-height: calc(100vh - 54px);
  width: 100%;
  margin: 0 auto;

  @include tablet {
    min-height: calc(100vh - 43px);
  }

  @include mobile {
    min-height: calc(100vh - 56px);
  }


  &__cont {
    max-width: 1283px;
    display: flex;
    margin: 0 auto;
    position: relative;
    padding-bottom: 192px;

    @include tablet {
      padding-bottom: 62px;
    }

    @include mobile {
      padding-top: 46px;
      padding-bottom: 28px;
    }
  }

  &__text-cont {
    max-width: 516px;
    padding-top: 128px;
    position: relative;
    z-index: 1;

    @include tablet {
      max-width: 730px;
      margin: 0 auto;
      padding-top: 497px;
    }

    @include mobile {
      max-width: 368px;
      padding-top: 333px;
    }
  }

  &__title {
    font: 400 72px $mainFont;
    color: $black;
    line-height: 84px;
    letter-spacing: 4px;
    padding-bottom: 64px;
    text-align: left;

    @include tablet {
      text-align: center;
      padding-bottom: 6px;
    }

    @include mobile {
      font-size: 42px;
      line-height: 49px;
      padding-bottom: 5px;
    }
  }

  &__desc {
    font: 400 32px $mainFont;
    line-height: 37px;
    padding-bottom: 64px;

    @include tablet {
      font-size: 24px;
      text-align: center;
      line-height: 28px;
      padding-bottom: 33px;
    }

    @include mobile {
      padding-bottom: 42px;
    }
  }

  &__btn {
    @include tablet {
      display: block;
      margin: 0 auto;
    }

    @include mobile {
      width: 100%;
      height: 100%;
      padding: 12px 0px 22px 0px;
    }
  }

  &__img-cont {
    margin-top: 67px;
    position: absolute;
    z-index: 3;
    right: 0;
    width: 809px;
    height: 720px;

    @include tablet {
      width: 706px;
      height: 539px;
      margin: 0 auto;
      left: 0;
      padding-top: 18px;
    }

    @include mobile {
      width: 375px;
      height: 287px;
    }
  }

  &__pikachu {
    background-image: url(../assets/images/Pikachu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10px 0px;
    width: 100%;
    height: 100%;
  }
}