html,
body {
  min-height: 100%;
}

.background-pokedex {
  height: 100%;
  background: $greyGradient;
}

.pokedex {
  width: 100%;
  margin: 0 auto;

  &__cont {
    max-width: 1125px;
    margin: 0 auto;
    padding-top: 73px;

    @include tablet {
      max-width: 720px;
      padding-top: 27px;
    }

    @include mobile {
      max-width: 376px;
      padding-top: 29px;
    }
  }

  &__title {
    font: 400 35px $mainFont;
    line-height: 41px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 34px;

    @include tablet {
      margin-bottom: 22px;
    }

    @include mobile {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 29px;
    }
  }

  &__search {
    text-align: center;
    margin-bottom: 36px;

    @include tablet {
      margin-bottom: 12px;
    }

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__filters {
    max-width: 533px;
    display: flex;
    justify-content: space-between;
    padding-left: 49px;
    padding-bottom: 53px;

    @include tablet {
      padding-left: 13px;
      padding-bottom: 81px;
    }

    @include mobile {
      display: none;
    }
  }

  &__select {
    min-width: 135px;
    height: 21px;
    border: none;
    box-shadow: $tablInputShadow;
    border-radius: 4px;
    background: $grey;
    text-align: center;
    position: relative;
    margin-bottom: 8px;

    &-wrapper {
      position: relative;
      cursor: pointer;
    }

    &-filter {
      text-align: left;
      width: 135px;
      height: 131px;
      background: $grey;
      box-shadow: $greyShadow;
      padding: 13px 28px;
      margin-top: 8px;
      border-radius: 8px;
    }

    &-text {
      font: 400 16px $desc;
      line-height: 20px;
    }

    &-icon {
      position: absolute;
      right: 11px;
    }
  }

  &__filter-btn {
    width: 77px;
    height: 20px;
    padding: 2px 0px 2px 15px;
    background: $grey;
    border-radius: 8px;
    box-shadow: $tablInputShadow;
    font: 400 12px $desc;
    display: none;
    cursor: pointer;

    &-text {
      font: 400 12px $desc;
    }

    @include mobile {
      display: flex;
      margin-left: 6px;
      margin-bottom: 21px;
    }

  }

  &__cards-cont {
    display: flex;
    flex-wrap: wrap;
    width: 1125px;
    margin: 0 auto;
    padding-bottom: 30px;

    @include tablet {
      width: 723px;
      padding-bottom: 51px;
    }

    @include mobile {
      width: 376px;
      justify-content: center;
    }
  }

  &__card-item {
    margin-top: 45px;
    margin-right: 34px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0;
    }

    &:nth-child(3n) {
      margin-right: 0px;
    }

    @include tablet {
      margin-top: 24px;
      margin-right: 19px;

      &:nth-child(3) {
        margin-top: 24px;
      }

      &:nth-child(3n) {
        margin-right: 19px;
      }

      &:nth-child(2n) {
        margin-right: 0px;
      }
    }

    @include mobile {
      margin-right: 0px;

      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 24px;
      }

       &:nth-child(3n) {
        margin-right: 0px;
      }
    }
  }

  &__loader {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 56px;
    padding-bottom: 33px;
    
    @include mobile {
      display: none;
    }

    &-circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $lightBlack;
    }
  }
}

.mobileFilter-wrapper {
  position: absolute;
  z-index: 5000;
  width: 100%;
  transition: 0.2s;
  top: -100%;
  display: flex;

  &::after {
    display: none;
    width: 100%;
    height: 100%;
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $transparentBlack;
    z-index: -1;
  }

  &--open {
    top: 0;

    &::after {
      display: block;
    }
  }

  &--close {
    top: -100%;
  }

  .mobileFilter {
    width: 100%;
    background: $yellowGradient;
    z-index: 5000;
    font: 400 23px $smallButton;
    border-radius: 0px 0px 16px 16px;

    @include mobile {
      display: block;
    }

    &__close {
      width: 31px;
      height: 31px;
      position: absolute;
      right: 26px;
      top: 16px;
      cursor: pointer;
    }

    &__type {
      width: 100%;
      padding: 34px 45px 47px 45px;

      &-article {
        line-height: 27px;
        padding-bottom: 19px;
      }

      &-checkbox {
        display: flex;
        justify-content: space-between;

        &-cont {
          width: 33%;
        }
      }

      &::after {
        @include whiteLine;
        margin-top: 25px;
      }
    }

    &__exp {
      width: 100%;
      padding: 0px 45px 23px 45px;

      &-article {
        line-height: 27px;
        margin-bottom: 7px;
        display: block;
      }

      &::after {
        @include whiteLine;
        margin-top: 25px;
      }
    }

    &__attack {
      width: 100%;
      padding: 25px 45px 23px 45px;

      &-article {
        line-height: 27px;
        margin-bottom: 7px;
        display: block;
      }
    }
  }
}