/* Colors */
$header: #F5DB13;
$danger: #D93E30;
$legendaries: #212121;
$homeButton: #73D677;
$button404: #F2CB07;
$grassButton: #70A83B;
$poisonButton: #07D6F2;
$text: #000000;
$paragraph: #212121;
$yellowGradient: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
$transparentBlack: rgba(0, 0, 0, 0.5);

/* Fonts */
$mainFont: Karla, sans-serif;
$smallButton: Roboto, sans-serif;
$desc: SourceSansPro, sans-serif;

/*  */
$desktop-w: 1440px;
$tablet-w: 768px;
$mobile-w: 375px;

/* @media mixins */
@mixin tablet {
   @media screen and (max-width: $desktop-w - 1) {
    @content
  }
}

@mixin popup {
  position: fixed;
  top: -100%;
  width: 100%;
  background: $yellowGradient;
  display: flex;
  transition: 0.2s;
  border-radius: 0px 0px 16px 16px;
}

@mixin mobile {
  @media screen  and (max-width: $tablet-w - 1) {
    @content
  }
}


* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  color: $text;
  font: 400 $mainFont;
}

