include ../components/button/button

doctype html 
html(lang="en")
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Pokemon
    body
        include  ../components/header/header.pug
        div.home
            div.home__cont 
                div.home__img-cont 
                    div.home__pikachu
                div.home__text-cont
                    h1.home__title  
                        b Find 
                        | all your favorite 
                        b Pokemon
                    p.home__desc
                        | You can know the type of Pokemon, its strengths, disadvantages and abilities
                    div.home__btn-cont    
                        +btn('See pokemons')(class="home__btn btn--big btn--green")
                
            include ../components/footer/footer.pug