include ../components/cards/card

doctype html 
html(lang="en")
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Pokédex
    body
        include  ../components/header/header.pug
        div.background-pokedex 
            div.pokedex
                div.pokedex__cont
                    div.pokedex__search-filter
                        div.pokedex__search
                            p.pokedex__title 800 
                                b Pokemons 
                                | for you to choose your favorite
                            input.pokedex__input(type="text" placeholder="Encuentra tu pokémon...")
                    div.pokedex__filters
                        div.pokedex__select 
                            span.pokedex__select-text Tipo
                            span.pokedex__select-icon 
                                img(src="../assets/images/selectIcon.svg", alt="")
                        div.pokedex__select 
                            span.pokedex__select-text Ataque
                            span.pokedex__select-icon 
                                img(src="../assets/images/selectIcon.svg", alt="")
                        div.pokedex__select 
                            span.pokedex__select-text Experiencia
                            span.pokedex__select-icon 
                                img(src="../assets/images/selectIcon.svg", alt="")
                    div.pokedex__filter-btn
                            span.pokedex__filter-btn-text Filter    
            div.pokedex__cards-cont 
                +card({
                    title: "Pachirisu",
                    attack: 419,
                    defence: 49,
                    background: 'blue',
                    img: src="../../assets/images/Pachirisu.svg",
                })(class="pokedex__card-item")
                +card({
                    title: "Pyroar",
                    attack: 419,
                    defence: 49,
                    background: 'red',
                    img: src="../../assets/images/Pyroar.svg",
                })(class="pokedex__card-item")
                +card({
                    title: "Pikachu",
                    attack: 419,
                    defence: 49,
                    background: 'yellow',
                    img: src="../../assets/images/PikachuCard.svg",
                })(class="pokedex__card-item")
                +card({
                    title: "Quilava",
                    attack: 419,
                    defence: 49,
                    background: 'green',
                    img: src="../../assets/images/Quilava.svg",
                })(class="pokedex__card-item")
                +card({
                    title: "Squirtle",
                    attack: 419,
                    defence: 49,
                    background: 'blue',
                    img: src="../../assets/images/Squirtle.svg",
                })(class="pokedex__card-item")
                +card({
                    title: "Charizard",
                    attack: 419,
                    defence: 49,
                    background: 'red',
                    img: src="../../assets/images/Charizard.svg",
                })(class="pokedex__card-item")
                +card({
                    title: "Mudkip",
                    attack: 419,
                    defence: 49,
                    background: 'blue',
                    img: src="../../assets/images/Mudkip.svg",
                })(class="pokedex__card-item")
                +card({
                    title: "Jigglypuff",
                    attack: 419,
                    defence: 49,
                    background: 'pink',
                    img: src="../../assets/images/Jigglypuff.svg",
                })(class="pokedex__card-item")
                +card({
                    title: "Tyranitar",
                    attack: 419,
                    defence: 49,
                    background: 'green',
                    img: src="../../assets/images/Tyranitar.svg",
                })(class="pokedex__card-item")
            div.pokedex__loader
                div.pokedex__loader-circle 
                div.pokedex__loader-circle 
                div.pokedex__loader-circle    
            include ../components/footer/footer.pug        