include ../components/cards/card
include ../components/card-modal/bigCard
include ../components/filter/modalFilter
include ../components/input/input
include ../components/checkbox/checkbox
include ../components/modal/modal

doctype html 
html(lang="en")
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Pokédex
    body
        include  ../components/header/header.pug
        div.background-pokedex 
            div.pokedex
                div.pokedex__cont
                    div.pokedex__search-filter
                        div.pokedex__search
                            p.pokedex__title 800 
                                b Pokemons 
                                | for you to choose your favorite
                            +input({
                                text:'Encuentra tu pokémon...',
                            })(class="input--big")
                    div.pokedex__filters
                        div.pokedex__select-wrapper
                            div.pokedex__select#tipo
                                span.pokedex__select-text Tipo
                                span.pokedex__select-icon 
                                    img(src="../assets/images/selectIcon.svg", alt="")
                            +modal('tipoFilter')
                                div.pokedex__select-filter
                                    +checkbox({
                                        name: "Fire",
                                    })(id="fire")
                                    +checkbox({
                                        id: "Normal",
                                        name: "Normal",
                                    })(id="normal")
                                    +checkbox({
                                        id: "Electric",
                                        name: "Electric",
                                    })(id="electric")
                                    +checkbox({
                                        id: "Water",
                                        name: "Water",
                                    })(id="water")
                        div.pokedex__select-wrapper
                            div.pokedex__select#ataque
                                span.pokedex__select-text Ataque
                                span.pokedex__select-icon 
                                    img(src="../assets/images/selectIcon.svg", alt="")
                            +modal('ataqueFilter')  
                                +filter ({
                                    from: '70 000',
                                    to: '50 000',
                                })
                        div.pokedex__select-wrapper        
                            div.pokedex__select#experiencia
                                span.pokedex__select-text Experiencia
                                span.pokedex__select-icon 
                                    img(src="../assets/images/selectIcon.svg", alt="")
                            +modal('experienciaFilter')
                                +filter ({
                                    from: '70 000',
                                    to: '50 000',
                                })
                    div.pokedex__filter-btn(id='mobileFilterButton')
                        span.pokedex__filter-btn-text Filter    
            div.pokedex__cards-cont 
                +card({
                    title: "Pachirisu",
                    attack: 419,
                    defence: 49,
                    background: 'blue',
                    img: src="../../assets/images/Pachirisu.png",
                })(class="pokedex__card-item")
                +card({
                    title: "Pyroar",
                    attack: 419,
                    defence: 49,
                    background: 'red',
                    img: src="../../assets/images/Pyroar.png",
                })(class="pokedex__card-item")
                +card({
                    title: "Pikachu",
                    attack: 419,
                    defence: 49,
                    background: 'yellow',
                    img: src="../../assets/images/PikachuCard.png",
                })(class="pokedex__card-item")
                +card({
                    title: "Quilava",
                    attack: 419,
                    defence: 49,
                    background: 'green',
                    img: src="../../assets/images/Quilava.png",
                })(class="pokedex__card-item")
                +card({
                    title: "Squirtle",
                    attack: 419,
                    defence: 49,
                    background: 'blue',
                    img: src="../../assets/images/Squirtle.png",
                })(class="pokedex__card-item")
                +card({
                    title: "Charizard",
                    attack: 419,
                    defence: 49,
                    background: 'red',
                    img: src="../../assets/images/CharizardSmall.png",
                })(class="pokedex__card-item")
                +card({
                    title: "Mudkip",
                    attack: 419,
                    defence: 49,
                    background: 'blue',
                    img: src="../../assets/images/Mudkip.png",
                })(class="pokedex__card-item")
                +card({
                    title: "Jigglypuff",
                    attack: 419,
                    defence: 49,
                    background: 'pink',
                    img: src="../../assets/images/Jigglypuff.png",
                })(class="pokedex__card-item")
                +card({
                    title: "Tyranitar",
                    attack: 419,
                    defence: 49,
                    background: 'green',
                    img: src="../../assets/images/Tyranitar.png",
                })(class="pokedex__card-item")
            div.pokedex__loader
                div.pokedex__loader-circle 
                div.pokedex__loader-circle 
                div.pokedex__loader-circle    
            include ../components/footer/footer.pug

        div.mobileFilter-wrapper(id='mobileFilterWindow')
            div.mobileFilter
                img.mobileFilter__close(src="../assets/images/closeIcon.png", alt="close", id='filterClose')
                div.mobileFilter__type
                    div.mobileFilter__type-article Type
                    div.mobileFilter__type-checkbox
                        div.mobileFilter__type-checkbox-cont
                            +checkbox ({
                                name: "Bug",
                            })(id="Bug", class="")
                            +checkbox ({
                                name: "Dark",
                            })(id="dark")
                            +checkbox ({
                                name: "Dragon",
                            })(id="dragon")
                            +checkbox ({
                                name: "Electric",
                            })(id="electric2")
                            +checkbox ({
                                name: "Normal",
                            })(id="normal2")
                            +checkbox ({
                                name: "Rock",
                            })(id="rock")
                        div.mobileFilter__type-checkbox-cont    
                            +checkbox ({
                                name: "Fairy",
                            })(id="fairy")
                            +checkbox ({
                                name: "Fighting",
                            })(id="fighting")
                            +checkbox ({
                                name: "Fire",
                            })(id="fire2")
                            +checkbox ({
                                name: "Flying",
                            })(id="flying")
                            +checkbox ({
                                name: "Poison",
                            })(id="poison")
                            +checkbox ({
                                name: "Steel",
                            })(id="steel")
                        div.mobileFilter__type-checkbox-cont    
                            +checkbox ({
                                name: "Ghost",
                            })(id="ghost")
                            +checkbox ({
                                name: "Glass",
                            })(id="glass")
                            +checkbox ({
                                name: "Ground",
                            })(id="ground")
                            +checkbox ({
                                name: "Ice",
                            })(id="ice")
                            +checkbox ({
                                name: "Psychic",
                            })(id="psychic")
                            +checkbox ({
                                name: "Water",
                            })(id="water2")
                div.mobileFilter__exp
                    span.mobileFilter__exp-article Experience
                    +filter ({
                        from: '70 000',
                        to: '50 000',
                        background: 'white',
                    })
                div.mobileFilter__attack
                    span.mobileFilter__attack-article Attack
                    +filter ({
                        from: '70 000',
                        to: '50 000',
                        background: 'white',
                    })

        +card-modal({
        img_background: 'red',
        info_background: 'darkRed',
        modalBackground: 'darkRed',
        img: src="../assets/images/Charizard.png",
        name: 'Charizard',
        gen: 'Generation 1',
        id: 578,
        abil: 'Overgrow - Chlorophyll',
        healthy_points: '1 000 000',
        exp_points: '1 000 000',
        def_points: 49,
        attack_points: 165,
        sp_attack_points: 130,
        sp_def_points: 271,
    })(id="charizard")