header.header 
    div.header__cont
      a(href="#") 
        img(src="../assets/images/Logo.svg", alt="pokemon").header__logo
      nav 
       ul.header__nav 
        li.header__nav-item 
          a(href="").header__nav-link Home 
        li.header__nav-item 
          a(href="").header__nav-link Pokédex
        li.header__nav-item  
          a(href="").header__nav-link Legendaries
        li.header__nav-item  
          a(href="").header__nav-link Documentation