footer.footer
  div.footer__cont
      ul.footer__nav 
        li.footer__item.footer__item--platzi
           a(href="").footer__link Make with ❤️ for the PokéSpartans team Platzi Master
        li.footer__item.footer__item--team
           a(href="").footer__link Ours Team
