@import "../../styles/variables.scss";

.footer {
  width: 100%;
  margin: 0 auto;
  flex: 0 0 auto;
 
  &__cont {
    max-width: 1125px;
    margin: 0 auto;
    padding-bottom: 27px;

    @include tablet {
      max-width: 695px;
    }
  }

  &__nav {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-between;

    @include mobile {
    flex-direction: column;
    }
  }

  &__item {
    font: 700 18px $mainFont;
    line-height: 21px;

    &--platzi {
      @include tablet {
      font-weight: 400;
      font-size:  16px;
      line-height: 20px;
      }

      @include mobile {
        font-weight: 400;
        font-size:  16px;
        line-height: 20px;
        order: 2;
      }
    }

    &--team {
      @include mobile {
        order: 1;
        padding-bottom: 5px;
      }  
    }
  }
}    

