footer.footer
  div.footer__cont
      ul.footer__nav 
        li.footer__item
           a(href="").footer__link Make with ❤️ for the PokéSpartans team Platzi Master
        li.footer-item
           a(href="").footer__link Ours Team
