@import "../../styles/variables.scss";

.footer {
  margin: 0 auto;
 
  &__cont {
    width: 1125px;
    height: 54px;
    margin: 0 auto;

    @include tablet {
      width: 695px;
      height: 43px;
    }

    @include mobile {
      width: 100%;
      height: 56px;
    }
  }

  &__nav {
    list-style: none;
    display: flex;
    justify-content: space-between;

    @include mobile {
      text-align: center;
      flex-direction: column;
    }
  }

  &__item {
    font: 700 18px $mainFont;
    line-height: 21px;

    &--platzi {
      @include tablet {
      font-weight: 400;
      font-size:  16px;
      line-height: 20px;
      }

      @include mobile {
        font-weight: 400;
        font-size:  16px;
        line-height: 20px;
        order: 2;
      }
    }

    &--team {
      @include mobile {
        order: 1;
        padding-bottom: 5px;
      }  
    }
  }
}    

